{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="http://fonts.cdnfonts.com/css/billabong" rel="stylesheet"> -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/14bff15e69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/main.css' %}">

    <title>Instagram</title>

</head>


<body>

    {% block content %}
    <div class="row mt-4">
        <div class="col-md-4 mx-auto">
            <div class="card form-card" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="text-center m-4 " id="logoname h2 "> Instagram</h4>
                    <form action="{% url 'register'%}" class="mb-5" method="POST">
                        {% csrf_token %}
                        <div class="form-group text-center mt-3">
                            <label for="exampleInputPassword1">Email</label> {{form.email}}
                        </div>
                        <div class="form-group text-center mt-3">
                            {{form.fullname}}
                        </div>
                        <div class="form-group text-center mt-3">
                            <label for="exampleInputPassword1">Username</label> {{form.username}}

                        </div>
                        <div class="form-group text-center mt-3">
                            <label for="exampleInputPassword1">Password</label> {{form.password}}
                            <span class="text-danger">{{ form.non_field_errors }} </span>
                        </div>
                        <div class="form-group text-center mt-3">
                            <label for="exampleInputPassword1">ConfirmPassword</label> {{form.confirm_password}}
                            <span class="text-danger">{{ form.non_field_errors }}</span>
                        </div>
                        <div class="form-group d-grid mt-3 text-center">
                            <button type="submit" class="btn btn-primary btn-block mb-3">Register</button>
                        </div>

                        <p class="text-center text-muted">By signing up, you agree to our Terms , <a href="#">Data Policy and Cookies
               Policy</a>.</p>
                    </form>
                </div>
            </div>
            <div class="mt-2 bg-light p-2" style="width: 20rem;">
                <ul class=" list-group list-group-flush">
                    <li class="list-group-item ">
                        <p class="text-center "><span>Have an account?</span> <a href="{% url 'login'%} ">Login</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>