 {%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="http://fonts.cdnfonts.com/css/billabong" rel="stylesheet"> -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/14bff15e69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/main.css' %}">

    <title>Instagram</title>

</head>


<body>
    <div class="navigation ">
        <div class="logo">
            <a class="no-underline" href="#">
                <span class="logoname h2 ">Instagram</span>
            </a>
        </div>
        <div class="navigation-search-container">
            <i class="fa fa-search"></i>
            <input class="search-field" type="text" placeholder="Search">
            <div class="search-container">
                <div class="search-container-box">
                    <div class="search-results">

                    </div>
                </div>
            </div>
        </div>
        <div class="navigation-icons">
            <a href="https://instagram.com/ngugeric" target="_blank" class="navigation-link">
                <i class="far fa-compass"></i>
            </a>
            <a class="navigation-link notifica">
                <i class="far fa-heart">
          <div class="notification-bubble-wrapper">
            <div class="notification-bubble">
              <span class="notifications-count">99</span>
            </div>
          </div>
        </i>
            </a>
            <a href="https://instagram.com/ngugeric" class="navigation-link">
                <i class="far fa-user-circle"></i>
            </a>
            <a href="https://instagram.com/ngugeric" id="signout" class="navigation-link">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>


    {%block jsblock%}
    <script src="{% static 'accounts/app.js' %}" type="text/javascript"></script>{%endblock%}
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>

</html>